<div style="text-align:center" [style.backgroung]="'url(./assets/cat_wallpaper.jpg)'">
  <h1>
    {{ title }}
  </h1>

  <div *ngIf="pairOfCats; else loading">
    <a (click)="saveMashRecord(pairOfCats[0].id, pairOfCats[1].id)">
      <img [src]="pairOfCats[0].url"/>
    </a>
    <a (click)="saveMashRecord(pairOfCats[1].id, pairOfCats[0].id)">
        <img [src]="pairOfCats[1].url"/>
    </a>
  </div>
  <ng-template #loading>Loading Cat Data...</ng-template>
  <footer>
    <button (click)="getAllTimeMostVotedCat()">View hottest cat!</button>
  </footer>
</div>

<router-outlet></router-outlet>
